@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#nav-container {
  background-color: rgb(196, 211, 255);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.navbar {
  position: relative;
}

.nav-logo p {
  display: inline-block;
  font-size: large;
  font-weight: bold;
  background: linear-gradient(to right, #9a0505, #580883);
  color: #0000;
  -webkit-background-clip: text;
}

nav {
  margin: auto;
  width: 90%;
  padding: 10px 0px;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  justify-content: flex-end;
}
.nav-item {
  list-style-type: none;
}
.nav-item:hover a {
  color: blue;
}
.nav-item a {
  text-decoration: none;
  font-weight: bold;
}

.nav-button button {
  padding: 8px 20px;
  background-color: black;
  border: 2px solid black;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}
.nav-button button:hover {
  color: black;
  background-color: white;
}

#icon {
  font-size: 3rem;
  line-height: 0;
}

.slider-container {
  margin-top: 80px;
}
.slider {
  position: relative;
}
#left-arrow {
  position: absolute;
  z-index: 100;
  left: 12%;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}

#right-arrow {
  position: absolute;
  z-index: 100;
  right: 12%;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}
body {
  position: relative;
  background-color: rgb(27, 27, 27);
}

ion-icon {
  color: white;
  padding: 4px;
  background-color: rgb(66, 66, 66);
  border-radius: 100%;
  cursor: pointer;
}
ion-icon:hover {
  background-color: rgb(35, 35, 35);
}

#up-arrow{
  display: none;
  position: fixed;
  top: 85vh;
  right: 50px;
}

.slider-items {
  width: 80vw;
  margin: auto;
  overflow-x: auto;
  box-sizing: inherit;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.slider-image img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
  margin: auto;
  object-fit: cover;
}
.paragraph {
  color: white;
  width: 70%;
  margin: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .nav-items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-items ul {
    position: absolute;
    display: none;
    right: 5%;
    top: 58px;
    flex-direction: column;
    background-color: rgb(150, 209, 222);
    align-items: flex-start;
    z-index: 1000;
    padding: 12px;
    gap: 6px;
  }
}
@media only screen and (min-width: 768px) {
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-items ul {
    display: flex;
  }
  #icon {
    display: none;
  }
}
